---
export interface Props{
    href:string,
    text:string,
    className?:string,
    variant:"primary"|"secondary"
}

const {href, text,className, variant} = Astro.props

const getThemeStyle = (variant:"primary"|"secondary")=>{
    if (variant === "primary") {
        return "bg-[#1E6DEB] dark:bg-[#1E6DEB] border-transparent relative after:bg-[#1554B3] dark:after:bg-[#1554B3] hover:border-[#1554B3] dark:hover:border-[#1554B3]"
    }
    return "text-[#1E6DEB] dark:text-[#1E6DEB] border-[#1E6DEB] dark:border-[#1E6DEB]"
}

const getTextColor = (variant:"primary"|"secondary") =>{
    if (variant === "primary") {
        return "text-white dark:text-gray-900"
    }
    return "text-[#1E6DEB] dark:text-[#1E6DEB]"
}

---

<a href={href} class={`px-6 py-3 rounded-full outline-none relative overflow-hidden border duration-300 ease-linear
                    after:absolute after:inset-x-0 after:aspect-square after:scale-0 after:opacity-70 after:origin-center after:duration-300 after:ease-linear after:rounded-full after:top-0 after:left-0 after:bg-[#1554B3] dark:after:bg-[#1554B3]
                    ${getThemeStyle(variant)} hover:after:opacity-100 hover:after:scale-[2.5] ${className}`}>
    <span class={`relative ${getTextColor(variant)} z-10`}>
        {text}
    </span>
</a>